<a href="https://colab.research.google.com/github/Lipun101/Python-Programs/blob/main/Basic_Python_Programs(Capston_Project).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Bunch Of Python codes**. **Bringing out something from  different scenarios.**

# **Score Board Operator**

Score Board Operator
An operator working behind the scoreboard of a inter cohort AlmaBetter cricket tournament, is responsible for updating the scores and points of each team. However, the operator is currently facing a challenge. He has been tasked with updating the total number of points gained by Team London, but he does not possess the necessary programming skills to complete this task. According to the tournament's rules, teams are awarded the following points based on the outcome of a match:

wins: 3 points

draws: 1 point

losses: 0

Team London has played 8 matches in this tournament. They won 4 matches, lost 3 matches and drew 1. The operator is in need of assistance to calculate the total number of points earned by Team London. As a python expert adept with knowledge of integer, floats and boolean, you can help the operator by writing a solution for the following problem.

What would your approach be?

In [ ]:
# Though input are fixed still i tried to make this fragment dynamic

# Team London

print("Team London has played 8 matches in this tournament.\n")
win_points = int(input("winning points per match : "))
won_match =  int(input("How many matches they won : "))
points = won_match * win_points
print(f'Total winning points of team London is {points} points\n')

draws = int(input("Draw points per match : "))
d_match = int(input("Number of draw matches :"))
d_points = d_match * draws
print(f'Total draw points of team London is {d_points} points\n')


loose = int(input("losses points per match : "))
l_match = int(input("Number of loosing matches :"))
l_points = l_match * loose
print(f'Total loosing points of team London is {l_points} points\n')

total_points  = points + d_points + l_points
print(f"\nTotal points of Team London is {total_points} Points")

Team London has played 8 matches in this tournament.

winning points per match : 3
How many matches they won : 4
Total winning points of team London is 12 points

Draw points per match : 1
Number of draw matches :1
Total draw points of team London is 1 points

losses points per match : 0
Number of loosing matches :3
Total loosing points of team London is 0 points


Total points of Team London is 13 Points

# **Measuring the Accuracy of a Disease Detection Model**

If you're not impressed with these usecases yet, understand that you're just getting started with python. Going forward as a data scientist, you'll be using what you've learned to design machine learning models that just might even save lives!!

Let's say you have created a machine learning model to detect diseases in patients based on their symptoms and medical history. The model has been tested on a dataset of **100 patients**, including **30 with diabetes**, **45 with heart disease, and 25 with cancer**. The model's performance was evaluated in three rounds. In the first round, the model correctly detected **diabetes i**n 25 out of the 30 patients with the disease. In the second round, the model correctly detected heart disease in 35 out of the 45 patients with the disease. In the final round, the model correctly detected cancer in 20 out of the 25 patients with the disease.

The model's accuracy is defined as the percentage of correctly detected cases out of the total number of patient

Assess how accurate your model is across these 3 diseases.

In [ ]:
# Store the number of heart disease patients
heart_d = 45

# Store the number of diabetes patients
diabetes = 30

# Store the number of cancer patients
cancer = 25


# Store the number of your correct guesses of heart disease patients
correct_heartd_guess = 35


# Store the number of your correct guesses of diabetes patients
correct_diabetes_guess = 25


# Store the number of your correct guesses of cancer patients
correct_caancer_guess = 20

In [ ]:
# Print the heart disease detection accuracy

heart_accuracy = (correct_heartd_guess / heart_d) * 100
print(f'Heart disease accuracy is {heart_accuracy} %')

Heart disease accuracy is 77.77777777777779 %

In [ ]:
# Print the diabetes detection accuracy

diabetes_accuracy = (correct_diabetes_guess / diabetes) *100
print(f'Diabetes detection accuracy is {diabetes_accuracy} %')

Diabetes detection accuracy is 83.33333333333334 %

In [ ]:
# Print the cancer detection accuracy

cancer_accuracy = (correct_caancer_guess / cancer)* 100
print(f'Cancer detection accuracy is {cancer_accuracy} %')

Cancer detection accuracy is 80.0 %

In [ ]:
# Print the overall accuracy of your model

overall_accuracy = (heart_accuracy + diabetes_accuracy + cancer_accuracy) / 100
print(f'Overall model accuracy is {overall_accuracy} %')

Overall model accuracy is 2.4111111111111114 %

# **Solving Algebra the Cool Way 😎**

# **f(x)=x^2+3x-4**

Find the value of f(x) at x =3 , x=-2, and x=4

In [ ]:
# Calculate the value of the function f(x) at x = 3

def algebra(x):
  return [(x ** 2) + (3 * x) - 4]

algebra(3)

[14]

In [ ]:
# Calculate the value of the function f(x) at x = -2

def algebra(x):
  return [(x ** 2) + (3 * x) - 4]

algebra(-2)

[-6]

In [ ]:
# Calculate the value of the function f(x) at x = 4

def algebra(x):
  return [(x ** 2) + (3 * x) - 4]

algebra(4)

[24]

In [ ]:
#Check if func_evaluated_at_3 >= func_evaluated_at_minus2

func_evaluated_at_3 = 14
func_evaluated_at_minus2 = -6
func_evaluated_at_4 = 24

if func_evaluated_at_3 >= func_evaluated_at_minus2:
  print(True)
else:
  print(False)

True

In [ ]:
#Check if value of f(x) at 3,-2 or 4 is equal to 0 or not

if (func_evaluated_at_3 == 0) or (func_evaluated_at_minus2==0) or (func_evaluated_at_4 ==0):
  print(True)
else:
  print("False")

False

# **Finding total E's in the Bookshelves**

In your pursuit of expanding your knowledge of Python, you come across a bookstore in search of books on the subject.

There, you meet a salesperson who is also a Python enthusiast!!

The salesperson presents you with a challenge - they have a list of five books related to Python and if you can write a program that finds the count of letter 'e', the store will give you a free book of your choice. 😀

Are you ready to accept the challenge? 💪

In [ ]:
# Here's the list of books

books = "Python for Everyone, Learn Python the Hard Way, Python Crash Course , Starting Out with Python, Automate the Boring Stuff with Python"

In [ ]:
# Store the count of books containing E/e in the title. Note this will be a case insensitive search
sum = 0
for i in books:
  if i == 'e' or i =='E':
    sum = sum + 1


print(F'Count of books containing E/e in the title is {sum}')

Count of books containing E/e in the title is 8

# **Unleashing the Power of Mean in Exam Analysis**

When analyzing exam scores, teachers have the power to unlock valuable insights into their students' performance. By using the mean and median, they can get a clear picture of how the class is doing as a whole and identify areas where improvement is needed.

The mean score is like a report card for the entire class, showing the average of all exam scores. It gives a good general idea of how the class is doing but can be influenced by a few students with extremely high or low scores.

By analysing the mean, teachers can get a complete picture of the class performance and make informed decisions to improve the learning experience for their students. So go ahead and use these powerful tools to take your students' exam scores to the next level! 💪

In [ ]:
# List of student marks

marks = [67,87,75,46,89,97,68,98,87,88]

In [ ]:
# Calculate the mean of the marks. Use sum() and len() functions
length = len(marks)
sum = 0
for i in marks:
  sum = sum + i
  mean = sum / length
print(f'means of the marks is {mean}')

means of the marks is 80.2

# **John's Fruit Stand Sales Mix-up**

Let's look at this scenario:

Jim owns a quaint little fruit stand that sells mangoes, bananas, apples, and pineapples. One day, with Jim being tied up, he tasked his son John to manage the shop for a day. Being new to the game, John recorded the sales data in an unconventional way. He wrote down the name of each fruit as many times as it was sold, creating a list like this:

['Mango','Mango','Mango','Pineapple','Pineapple','Pineapple','Apple','Mango','Banana','Apple','Banana','Apple','Pineapple','Apple','Apple','Pineapple','Pineapple'] 🤦

But, this method is not very efficient or easy to read.

Forunately you were there at the shop to grab some apples yourselves, and you saw what John was doing.

You can help him out to structure the data by using dictionaries. How?

In [ ]:
#Here's John's list:

fruit_list=['Mango','Mango','Mango','Pineapple','Pineapple','Pineapple','Apple','Mango','Banana','Apple','Banana','Apple','Pineapple','Apple','Apple','Pineapple','Pineapple']

freq = {}
for i in fruit_list:
  if i in freq:
    freq[i] +=1

  else:
    freq[i] = 1

print(f'fruit_dict : {freq}')

fruit_dict : {'Mango': 4, 'Pineapple': 6, 'Apple': 5, 'Banana': 2}

# **Indexing & Slicing**

**Imagine that you are a superhero movie buff and you're trying to create a list of the most iconic Marvel characters. You have compiled a list of some of the most popular characters, but you want to narrow it down to the top 6.**

Here's your list of characters:

marvel_words = ['Avengers', 'X-Men', 'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange', 'Namor']

In [ ]:
# Here's your list of characters:

marvel_words = ['Avengers', 'X-Men', 'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange', 'Namor']

You want to narrow down the list to the last 6 characters in the list. These characters are:


Namor

Doctor Strange

Wolverine

Captain America

Black Widow

Thor

In [ ]:
length = len(marvel_words)
print(length)

result = marvel_words[::-1]
# print(result)
print(result[:6])

11
['Namor', 'Doctor Strange', 'Wolverine', 'Captain America', 'Black Widow', 'Thor']

# **Create two teams of superheroes based on their index position: one team should consist of all the characters located at even index positions, while the other team should consist of all the characters located at odd index positions.**

In [ ]:
marvel_words = ['Avengers', 'X-Men', 'Spider-Man', 'Iron Man', 'Hulk', 'Thor', 'Black Widow', 'Captain America', 'Wolverine', 'Doctor Strange', 'Namor']

In [ ]:
marvel_team1 = marvel_words[0::2]
print("even team = ", marvel_team1)

marvel_team2 = marvel_words[1::2]
print("odd team = " ,marvel_team2)

even team =  ['Avengers', 'Spider-Man', 'Hulk', 'Black Widow', 'Wolverine', 'Namor']
odd team =  ['X-Men', 'Iron Man', 'Thor', 'Captain America', 'Doctor Strange']

# **Store the word 'Spider-Man' in a new variable, and slice the word 'Spider' from it.**

In [ ]:
new = marvel_words[2]
print(new)
result = new.split('-')
print(result[0])

Spider-Man
Spider

 **Store the word 'Iron-Man' in a variable and use reverse indexing to reverse it.**

In [ ]:
new = marvel_words[3]
print(new)
rev = new[::-1]
print(rev)

Iron Man
naM norI

# **Operators in Data Types**

🎉 Let's do some math!

📐 First up, let's calculate the area of a square with sides that measure 5 cm.
🤔 How much space does this shape occupy?

🔍 Next, let's find the volume of a cube with sides that measure 12 cm.
📏 How much room does this shape take up?

🔢 Lastly, we'll find the quotient and remainder when we divide 10 by 4. 🧐 How many times does 4 fit into 10? What's left over?

In [ ]:
#  area of a square

side = 5
area = (side**2)
print(f'space occupied by the square is {area}cm square')

space occupied by the square is 25cm square

In [ ]:
#  volume of a cube
side = 12
volume = (side**3)
print(f'room occupied by the cube of side 12 cm is {volume}cm cube')

room occupied by the cube of side 12 cm is 1728cm cube

In [ ]:
# find the quotient and remainder when we divide 10 by 4.
result = 10 % 4
print(f'remainder is {result}')

result = 10//4
print(f'Quotient is {result}')

remainder is 2
Quotient is 2

# **Let's practice some comparison operators! Here's a problem for you to solve:**

🍎 The first basket contains 12 apples, and the second basket contains 8 apples. Use comparison operators to answer the following questions:

Is the number of apples in the first basket greater than the number of apples in the second basket?

Is the number of apples in the second basket less than or equal to the number of apples in the first basket?

Is the number of apples in the first basket equal to the number of apples in the second basket?

Is the number of apples in the second basket not equal to the number of apples in the first basket?

Use comparison operators (i.e. >, >=, <, <=, ==, !=) in your code to answer each question. Good luck! 🍎🍏

In [ ]:
# Is the number of apples in the first basket greater than the number of apples in the second basket?

basket1 = 12
basket2 = 8

if basket1 > basket2:
  print('number of apples in first basket is greater')
else:
  print("number of apples in first basket is lesser")

number of apples in first basket is greater

In [ ]:
# Is the number of apples in the second basket less than or equal to the number of apples in the first basket?

basket1 = 12
basket2 = 8

if basket2 <= basket1:
  print("True")
else:
  print("False")

True

In [ ]:
# Is the number of apples in the first basket equal to the number of apples in the second basket?


basket1 = 12
basket2 = 8

if basket1 == basket2:
  print('True')
else:
  print("False")

False

In [ ]:
#  the number of apples in the second basket not equal to the number of apples in the first basket?

basket1 = 12
basket2 = 8

if basket2 != basket1:
  print('True')
else:
  print("False")

True

# 🌴 **Are you ready for your trip to Goa? 🌊 You've got two bags with you, and you need to make sure they're light enough to board the flight. Let's use some logical operators to find out if you can make it on time!**

🧳 One of your bags weighs 15 kg, while the other one weighs only 5 kg. 💪 You know you can pack a lot more in the heavier bag, but you have to be careful not to go over the weight limit.

👮‍♀️ The airline has a strict policy that both of your bags must weigh less than 13 kg each. Can you make it on the flight? Let's use logical operators to find out!

In [ ]:
# Define the weight of your bags
bag1_weight = 15
bag2_weight = 5

if (bag1_weight <= 13) and (bag2_weight <= 13):
  print("Enjoy your trip!")

else:
  print("Sorry, You can not go through!")

Sorry, You can not go through!

🧳 Uh oh, it looks like we have a problem with our bags! But don't worry, the crew has offered a solution. 😊

👨‍✈️ They've said that if at least one of our bags weighs less than 6 kg, we can still board the flight this time. 🛫

🤔 Are we ready for the trip or not? Let's use some logical operators to find out!

In [ ]:
# Define the weight of your bags
bag1_weight = 15
bag2_weight = 5

if (bag1_weight <= 6) or (bag2_weight <= 6):
  print("Enjoy your trip!")

else:
  print("Sorry, You can not go through!")

Enjoy your trip!

🤔 Did you notice how we made a decision on which print statement to use based on the result of our logical operators? 🤔

🚀 Later on, we're going to learn how to do this in a single step, making it even easier for you. So stay curious 😎

# 📚 **Imagine that you're a book lover with a collection of lot of books**. 🤓

🔎 You need to find out how many of your books contain the word "Python" in them. 🐍

In [ ]:
books = [
    "Python for Data Science Handbook by Jake VanderPlas",
    "The Pragmatic Programmer by Andrew Hunt and David Thomas",
    "Python Machine Learning by Sebastian Raschka",
    "The Alchemist by Paulo Coelho",
]

In [ ]:
count = 0
for i in books:
  print(i)

  if "Python" in i:
    count = count + 1
print(f"\nbooks contain the word 'Python' in them is {count}")

Python for Data Science Handbook by Jake VanderPlas
The Pragmatic Programmer by Andrew Hunt and David Thomas
Python Machine Learning by Sebastian Raschka
The Alchemist by Paulo Coelho

books contain the word 'Python' in them is 2

# **In-Built Functions & Methods**

**Here is a string for you to work with:**

In [ ]:
# Here is the statement.

statement = "anas eagerly recommended 'the shawshank redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend."

In [ ]:
print(statement)

anas eagerly recommended 'the shawshank redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend.

Create a list containing the three sentences in the statement. Hint: Use split() method.

In [ ]:
result_str = statement.split(".")
print(result_str)

["anas eagerly recommended 'the shawshank redemption' to his friends", ' He described the movie as a captivating and emotional story of hope and friendship', ' His friends decided to watch it together the following weekend', '']

The name 'anas' is spelled wrong. Replace it with 'Anas'.

In [ ]:
result = statement.replace('anas', 'Anas')
print(result)

Anas eagerly recommended 'the shawshank redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend.

The title of the book is not written in the correct cases as well. Make corrections there.

In [ ]:
result = statement.replace('the shawshank redemption', 'The Shawshank Redemption')
print(result)

anas eagerly recommended 'The Shawshank Redemption' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend.

You believe "The Shawshank Redemption" would be bit too gloomy for the lot. Take user input of which movie to recommend and replace "The Shawshank Redemption" from the statement with the new recommendation.

In [ ]:
new_movie = input("Which movie wold you recommend?")
new_statement = statement.replace('the shawshank redemption', new_movie)
print(new_statement)

Which movie wold you recommend?Hangover
anas eagerly recommended 'Hangover' to his friends. He described the movie as a captivating and emotional story of hope and friendship. His friends decided to watch it together the following weekend.

# 🎥 **Suppose you have a collection of your favorite movies 🍿🎞️ and you want to keep track of them using a Python list 📜. You start with an empty list [] and keep adding new movies 🆕 to it. You also want to be able to remove movies ❌ that you have watched or no longer wish to keep in your collection. Finally, you want to be able to count 🔢 how many movies you have in your collection and reverse the order of the list 🔄.**

In [ ]:
# Start with an empty list
movie_collection = []

movie_collection.append("Intersteller")
movie_collection.append("RIPD")
movie_collection.append("Jhon Shaft")
movie_collection.append("Jhon Wick")
movie_collection.append("The Bourne Identity")
movie_collection.append("The Grey Man")

print(" My Movie Collection:",movie_collection)

 My Movie Collection: ['Intersteller', 'RIPD', 'Jhon Shaft', 'Jhon Wick', 'The Bourne Identity', 'The Grey Man']

In [ ]:
print(movie_collection.pop(1))
print("After removing", movie_collection)

RIPD
After removing ['Intersteller', 'Jhon Shaft', 'Jhon Wick', 'The Bourne Identity', 'The Grey Man']

In [ ]:
# Count how many movies are in the collection
count = 0
for i in movie_collection:
  count += 1
print(f'number of movies in list is {count}')

number of movies in list is 5

In [ ]:
# Reverse the order of the list using the reverse() method
print(" My Movie Collection:",movie_collection)
movie_collection.reverse()
print(movie_collection)

 My Movie Collection: ['Intersteller', 'Jhon Shaft', 'Jhon Wick', 'The Bourne Identity', 'The Grey Man']
['The Grey Man', 'The Bourne Identity', 'Jhon Wick', 'Jhon Shaft', 'Intersteller']

# 👩‍🏫 **A teacher has stored the names of his students in a tuple as follows:**

('Adam','Alice','Ben','Bilal','Bharath')

👨‍🎓 Their role numbers are defined as their index number + 1.

🖥️ Write a program which would take the name of the student as input and return their role number.

In [ ]:
student_tupple=('Adam','Alice','Ben','Bilal','Bharath')

name = input("Call the name : ")
index = student_tupple.index(name)
print(f"role number of {name} is: ",index + 1)

Call the name : Ben
role number of Ben is:  3

# **A store 🏪 sells different types of fruits 🍎🍌🍇🍓 in baskets 🧺. The storekeeper 🧑 keeps track of the availability of each fruit type in separate sets. The storekeeper wants to know which fruits are available in both baskets, which fruits are unique to each basket, and the total number of fruits available. 🤔**

In [ ]:
# Define sets for fruits in each basket
basket1 = {'apple', 'banana', 'grape', 'orange'}
basket2 = {'banana', 'mango', 'pineapple', 'orange'}

In [ ]:
# Find the total number of fruits available

lenght1 = len(basket1)
lenght2 = len(basket2)
total = lenght1 + lenght2
print("Total number of fruits available:", total)

Total number of fruits available: 8

In [ ]:
# Find fruits available in both baskets

for i in basket1:
  if i in basket2:
    print(i)

orange
banana

In [ ]:
# Find fruits available in both baskets

common_fruits = basket1 & basket2
print(common_fruits)

{'orange', 'banana'}

# **Statements, Indentation & Conditionals**

**👉 Imagine that you are a food inspector who is responsible for inspecting the lead content of a packaged food material at a factory. If the content exceeds 5%, you should print the message "This batch cannot be approved".**

In [ ]:
# Get the lead content of the packaged food material

lead_content = float(input("Please enter the lead content of the packaged food material in percentage: "))

if lead_content > 5:
  print("This batch cannot be approved")
else:
  print("This batch is approved")

Please enter the lead content of the packaged food material in percentage: 4.5
This batch is approved

# 👉 **Imagine: You're a bouncer at a nightclub and need to check if someone is old enough to enter. The legal age for entry is 18 years. If the person is less than 18 years print "Sorry You can not enter!".**

In [ ]:
age = int(input("enter the age"))

if age < 18:
  print("Sorry You can not enter!")
else:
  print("Have a good time in our club")

enter the age17
Sorry You can not enter!

# 👉 **Imagine you are a fitness instructor who needs to evaluate if a client has reached their weight loss goal. The target weight loss goal is 10 pounds. If the client has lost at least 10 pounds, you should print the message "Congratulations, you have reached your weight loss goal!" However, if the client has lost less than 10 pounds, you should print "Sorry, you have not reached your weight loss goal yet. Keep up the good work!"**

In [ ]:
# Get the client's weight loss

previous_weight = float(input("Enter your previous weight in pounds : "))
current_weight =  float(input("Enter your current weight in pounds : "))

lost_weight = previous_weight - current_weight
print(abs(lost_weight))

if lost_weight >= 10:
  print("Congratulations, you have reached your weight loss goal!")
else:
  print("Sorry, you have not reached your weight loss goal yet. Keep up the good work!")

Enter your previous weight in pounds : 50
Enter your current weight in pounds : 45
5.0
Sorry, you have not reached your weight loss goal yet. Keep up the good work!

# 👉 **Imagine: You're a gardener and need to check if a plant needs watering. If the soil moisture level is below 40%, print "Water the plant!", otherwise, print "The plant doesn't need watering."**

In [ ]:
# Take input of moisture level

moisture_level = int(input("Enter moisture level in Percentage :"))

if moisture_level < 40:
  print("Water the plant!")
else:
  print("The plant doesn't need watering.")

Enter moisture level in Percentage :30
Water the plant!

# 📦📬🚚 **Creating a shipping cost calculator! **⚙️

**You need to create a program that calculates the cost of shipping a package based on its weight and destination** 📦💰

🌍 **Domestic shipping within the country :**

**Packages weighing up to 1 kg cost Rs.50 to ship 🤑 Each additional kg costs Rs.10 extra** 💰
🌎 **International shipping to other countries** 🌏:

**Packages weighing up to 1 kg cost Rs.500 to ship** 🤑
**Each additional kg costs Rs.100 extra 💰 Ready to ship?**🚛🚀

In [ ]:
# cost of shipping a package based on its weight and destination 📦💰
# weight is in kg and cost is in Rupees(Rs)

print("Shipping cost calculator!\n")

unit_weight = 1
unit_cost_domestic = 50
extra_cost_domestic = 10
unit_cost_international = 500
extra_cost_international = 100

# Enter 1 for Domestic Shipping
# Enter 2 for International Shipping


luggage_weight = float(input("Enter the weight of your luggage : "))
additional_weight = luggage_weight - unit_weight

shipping = int(input("Enter your option = \n"))

if shipping == 1:
  print(f"Shipping cost if luggage weighs 1kg is Rs{unit_cost_domestic}\n")
  luggage_cost = (additional_weight * extra_cost_domestic) + unit_cost_domestic
  print(f"Your total luggage cost is Rs{luggage_cost}")

elif shipping == 2:
  print(f"Shipping cost if luggage weighs 1kg is Rs{unit_cost_international}\n")
  luggage_cost = (additional_weight * extra_cost_international) + unit_cost_international
  print(f"Your total luggage cost is Rs{luggage_cost}")

else:
  print("Please enter either 1 or 2")

print("\nThank you, Have a good time ahead")

Shipping cost calculator!

Enter the weight of your luggage : 27
Enter your option =
2
Shipping cost if luggage weighs 1kg is Rs500

Your total luggage cost is Rs3100.0

Thank you, Have a good time ahead

# 🚗 **As a car dealership manager, you need to create a discount system for your customers based on the price of the car they want to buy. Here are the rules!** 📝

🚘 If the car price is less than Rs. 10,00,000, there is no discount.

🎁 If the car price is between Rs. 10,00,000 and Rs. 20,00,000, there is a discount of 5%.

🎉 If the car price is between Rs. 20,00,000 and Rs. 30,00,000, there is a discount of 7.5%.

🥳 If the car price is greater than Rs. 30,00,000, there is a discount of 10%.

Are you ready to make your customers happy with these discounts? 🚗💰

In [ ]:
# For example, you may want to calculate the sale price of a shirt that regularly costs Rs 1,000.
# If the shirt is 20% off, you must convert 20% to a decimal (20/100 = 0.2).
# You have Rs 1,000 * 0.2 = Rs 200. You then subtract the discount from the original price as Rs 1,000 – Rs 200 = Rs 800.

In [ ]:
# create a discount system for your customers based on the price of the car they want to buy.

print("Discount system for our customers")
print("-" * 70)
cost = float(input("Enter the price of the car: "))

if cost < 1000000:
  print("Sorry you can't get discount if the price is below 10,00,000 !")

elif cost >= 1000000 and cost <= 2000000:
  discount_price = cost - (cost * 0.05)
  print(f"Price after discount of 5% is Rs {discount_price}")

elif cost >= 2000000 and cost <= 3000000:
  discount_price = cost - (cost * 0.075)
  print(f"Price after discount of 7.5% is Rs {discount_price}")

elif cost > 3000000:
  discount_price = cost - (cost * 0.1)
  print(f"Price after discount of 10% is Rs {discount_price}")

else:
  print("Enter a valid price")

print("-" * 70)
print("We hope our customers are happy with these discounts ")
print("-" * 70)

Discount system for our customers
----------------------------------------------------------------------
Enter the price of the car: 1500000
Price after discount of 5% is Rs 1425000.0
----------------------------------------------------------------------
We hope our customers are happy with these discounts
----------------------------------------------------------------------

# **Loops & Iterations**

**You and your friends are playing a board game where you roll a dice and move your game piece accordingly. However, you want to know the average number rolled by each player to see who's really the luckiest. Write a program that takes a list of rolls as input for each player and uses a for loop to calculate the average roll for each player. The winner gets bragging rights for being the luckiest!**

Define a list of rolls for each player, where each list contains the numbers rolled by the player.
Use a for loop to iterate over each player's rolls in the list of player rolls.
For each player, calculate the average roll by summing up all the rolls and dividing by the number of rolls. You can use the formula sum(rolls) / len(rolls) to do this.
Print out each player's average roll using f-strings to display the player number and their average roll to two decimal places.

In [ ]:
player_rolls = [
    [3, 5, 6, 2, 1],  # player 1's rolls
    [4, 4, 6, 3, 2],  # player 2's rolls
    [1, 5, 6, 6, 4]   # player 3's rolls
]
# list of a list

In [ ]:
# Board game

max_avg = 0
max_index = 0

for index in range(len(player_rolls)):
  #print(player_rolls[index])
  average_index = sum(player_rolls[index])/len(player_rolls[index])
  #print(average_index)
  if average_index>max_avg:
    max_avg = average_index
    max_index = index
  print(f"Maximum average is {max_avg}")

  print(f"For player {max_index+1}")
  print("-" * 70)

Maximum average is 3.4
For player 1
----------------------------------------------------------------------
Maximum average is 3.8
For player 2
----------------------------------------------------------------------
Maximum average is 4.4
For player 3
----------------------------------------------------------------------

# **Write a Python program that analyzes a list of names and sorts them into two categories: those that start with a vowel and those that start with a consonant. To achieve this, you'll use a nested loop and some basic conditional statements.**

Start by defining a list of names. You can call this list names and initialize it with a few names.

Define two empty lists to store the names that start with vowels and consonants, respectively. You can call these lists vowel_names and consonant_names.

Use a nested loop to iterate through each name in the names list. The outer loop should iterate through each name, while the inner loop should iterate through each character in the name.

Inside the inner loop, use an if statement to check if the first letter of the name is a vowel or a consonant. You can do this by checking if the first character of the name is in a list of vowels.

If the first letter is a vowel, append the name to the vowel_names list using the append() method.

If the first letter is a consonant, append the name to the consonant_names list using the append() method.

Once the loop has finished iterating through all the names, use the print() function to print the two lists of names. You can include a message indicating which list contains the names that start with vowels and which list contains the names that start with consonants

In [ ]:
names = ["Alice", "Bob", "Eve", "Charlie", "Ivy", "David", "Olivia", "Peter"]

In [ ]:
vowel_names = []
consonant_names = []

print("The original list is : " + str(names))
vowels = 'AEIOU'
# consonants = 'BCDFGHJKLMNPQRSTVWXYZ'
for i in names:
  if i[0] in vowels:
    vowel_names.append(i)

  else:
    consonant_names.append(i)

print("The vowel names are : " + str(vowel_names))
print("The consonants names are : " + str(consonant_names))

The original list is : ['Alice', 'Bob', 'Eve', 'Charlie', 'Ivy', 'David', 'Olivia', 'Peter']
The vowel names are : ['Alice', 'Eve', 'Ivy', 'Olivia']
The consonants names are : ['Bob', 'Charlie', 'David', 'Peter']

**You are a teacher and you have a dictionary containing the grades of your students in a particular subject. The keys of the dictionary are the names of the students, and the values are their respective grades. You need to find the students who scored above 90% and print out their names.**

Define a dictionary to store the grades of the students. The keys of the dictionary should be the names of the students, and the values should be their respective grades.

Loop through the dictionary using a for loop and retrieve the grade of each student.

Check if the grade is greater than 90%. If it is, print out the name of the student.

Repeat steps 2-3 for all the students in the dictionary.

Once the loop is complete, the names of the students who scored above 90% will have been printed to the console.

In [ ]:
# Define the grades dictionary
grades = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 88,
    'David': 95,
    'Emily': 78,
    'Frank': 91
}

In [ ]:
print(grades)

{'Alice': 85, 'Bob': 92, 'Charlie': 88, 'David': 95, 'Emily': 78, 'Frank': 91}

In [ ]:
for student, grade in grades.items():
  if grade > 90 :
    print(student, grade)

Bob 92
David 95
Frank 91

# **You're given a nested list of numbers, and your task is to count the number of odd and even numbers in the list. To achieve this, you'll use a nested loop and some basic conditional statements.**

Inititate the odd and even count variables.

Iterate through the outer list first. ie, [2,5,11,20,8] would be the item in the first iteration.

Iterate through this resulting list using an inner for loop.

Check if the number is odd or even, and add the count to the counter variables initialised before.

Print the odd and even counts.

In [ ]:
# List of numbers
numbers = [
    [2, 5, 11, 20, 8],
    [9, 4, 15, 28, 17],
    [1, 6, 21, 18, 3],
    [10, 13, 25, 33, 30],
    [14, 7, 16, 19, 22]
]

In [ ]:
# print(numbers)
count = 0
even_count = 0
odd_count = 0

for i in numbers:
  for j in i:
    if j % 2 == 0:
      even_count = even_count + 1
    else:
      odd_count = odd_count + 1

print(f"Even number count in the lsit is {even_count}")
print("-" * 40)
print(f"Odd number count in the lsit is {odd_count}")

Even number count in the lsit is 12
----------------------------------------
Odd number count in the lsit is 13

Instructions

Inititiate the list.
Iterate through the list in first loop.
Iterate throught the same list in inner loop.
Compare the element in the outer and inner loops. If they are not the same players, print "Player x plays against Player y".

In [ ]:
# Write Your Code Here
players = ['Alice', 'Bob', 'Charlie', 'Diana']

for i in players:
  for j in players:
    if i != j:
      print("player",i, "plays against",j )

player Alice plays against Bob
player Alice plays against Charlie
player Alice plays against Diana
player Bob plays against Alice
player Bob plays against Charlie
player Bob plays against Diana
player Charlie plays against Alice
player Charlie plays against Bob
player Charlie plays against Diana
player Diana plays against Alice
player Diana plays against Bob
player Diana plays against Charlie

# **Conditional & Infinite Looping**

# **Building a Simple Calculator**

In this activity, you will build a simple calculator using conditional looping in Python. The calculator will ask the user for two numbers and an operation (addition, subtraction, multiplication, or division), and then perform the operation on the two numbers.

First, enter your first choice number.

Second, enter your second choice number.

Choose or enter the operation you want to perform.User Input will be "(addition, subtraction, multiplication, or division)".

Use a conditional loop to perform the appropriate operation you want to perform.

Finally, print the result of the opera

In [ ]:
print("---------------------Simple Calculater------------------------")

print("1. Adittion")
print("2. Substraction")
print("3. Multiplication")
print("4. Division")

choice = input("Enter your choice here (1/2/3/4):")
print("\n")
first = float(input("Enter your first choice number : "))
second = float(input("Enter your second choice number : "))

if choice == '1':
  print(first + second)
elif choice == '2':
  print(first - second)
elif choice == '3':
  print(first * second)
elif choice == '4':
  if second != 0:
    print(first / second)
  else:
    print("Error! Division with is not allowed")
else:
  print("Invalid option. Please try 1,2,3,4")

---------------------Simple Calculater------------------------
1. Adittion
2. Substraction
3. Multiplication
4. Division
Enter your choice here (1/2/3/4):6


Enter your first choice number : 10
Enter your second choice number : 2
Invalid option. Please try 1,2,3,4

# **Building a Guessing Game**

In this activity, you will build a simple guessing game using conditional looping in Python. The game will generate a random number between 1 and 100, and the user will have to guess the number within a certain number of tries. The program will provide hints to the user after each guess, telling them whether their guess is too high or too low


Instructions:

First, import the "random" module to generate a random number for the game.

Next, enter the number of tries you want to have and set a counter to keep track of how many tries you are left with.

Now, use a while loop to allow yourself to keep guessing until you either guess the correct number or run out of tries.

Finally, if you run out of tries without guessing the correct number, print a message telling what the secret number was.

In [ ]:
import random

# Generate a random number between 1 and 100
secret_number = random.randint(1, 10)
print("-------------Guessing game-----------------------")
print()
count = 0
while count < 3:
  guess = int(input("Guess the number - " ))
  count += 1
  if guess == secret_number:
    print("Congratulation you won")
    break
  elif guess < secret_number:
    print("Your guess is lower than the secret number")
  elif guess > secret_number:
    print("Your guess is higher than the secret number")
else:
  print("\nSorry you lost, By the way secret number was",secret_number)
  print("Better luck next time")

-------------Guessing game-----------------------

Guess the number - 7
Your guess is lower than the secret number
Guess the number - 9
Your guess is lower than the secret number
Guess the number - 10
Congratulation you won

# **Building a Fibonacci Sequence Generator**

In this activity, you will build a program that generates a Fibonacci sequence using conditional looping in Python. The Fibonacci sequence is a series of numbers in which each number is the sum of the two preceding numbers. The sequence starts with 0 and 1, and the next number in the sequence is the sum of the previous two numbers

Instructions:

First, enter how many terms you want in the sequence.

Then, initialize the first two terms of the sequence.

Use a while loop to generate the remaining terms of the sequence.

Finally, print the sequence.

In [ ]:
print("--------------------Fibonacci series----------------")
print()
terms =  int(input("How many terms you want in the sequence: "))
first = 0
second = 1
count = 0

if terms == 0:
  print(first)
elif terms == 1:
  print(second)
else:
  print("Fibonacci sequence:")
  while count < terms:
    print(first)
    num = first + second
    first = second
    second = num
    count += 1

--------------------Fibonacci series----------------

How many terms you want in the sequence: 5
Fibonacci sequence:
0
1
1
2
3

# **Counting the Digit**

You have been given a task to write a Python program that counts the number of times a specific digit appears in a range of numbers. You need to use a for loop to iterate over the range of numbers, and a while loop to check each digit in the number

Example:

Enter start number: 100

Enter end number: 150

Enter digit to count: 5

The digit 5 appears 6 times between 100 and 150

In [ ]:
for i in range(100,110):
  print(i)

100
101
102
103
104
105
106
107
108
109

# **Custom Functions in Python**

# **Building a Calculator**

In this activity, we will create a custom function in Python to build a calculator that can perform basic arithmetic operations such as addition, subtraction, multiplication, and division.

Instructions:

Define a function called calculator that takes three arguments: num1, num2, and operation.

In the function, use an if-else statement to determine the arithmetic operation to perform based on the value of operation.

If operation is '+', return the sum of num1 and num2.

If operation is '-', return the difference between num1 and num2.

If operation is '*', return the product of num1 and num2.

If operation is '/', return the quotient of num1 and num2.

If operation is not one of the four valid arithmetic operations, return the string "Invalid operation".

Test your function by calling it with different values for num1, num2, and operation

In [ ]:
# Define a function called calculator that takes three arguments: num1, num2, and operation

def calculator(num1, num2, operation):
  if operation == 1:
    return num1 + num2
  elif operation == 2:
    return num1 - num2
  elif operation == 3:
    return num1 * num2
  elif operation == 4:
    if num2 != 0:
      return num1 / num2
    else:
      print("Dividing with 0 is not allowed")
  else:
    print("Invalid option. Please try 1,2,3,4")


calculator(40,0,4)

Dividing with 0 is not allowed

# **Dice Rolling** 🎲

**Roll a dice and display the result.** 🎲

**What is the random module?**

The random module is a built-in Python module that provides a suite of functions for generating random numbers and sequences. This module is often used in applications where randomization is important, such as games, simulations, and cryptography.

Instructions:

The random module shoud be imported to generate a random number for the dice roll.

roll_dice() is defined as a custom function that generates a random number between 1 and 6.

The function returns the result of the dice roll.

The result variable is assigned to the return value of the roll_dice() function.

The result is printed using a formatted string.

In [ ]:
import random

def roll_dice():
 dice = random.randint(1,6)
 return dice
  # repeat = input("Do you wanna roll again Y/N?")


print(f"your number: {roll_dice()}")
# repeat = input("Do you wanna roll again Y/N?")

your number: 3

# **Celsius to Fahrenheit Converter**

Create a custom function that takes in a temperature in Celsius and returns the temperature in Fahrenheit.

For example: If the input temperature is 20 degrees Celsius, the output temperature should be 68 degrees Fahrenheit.

To create this function, you can use the formula to convert the temperature in Celsius to Fahrenheit. The formula for converting Celsius to Fahrenheit is F = (C * 9/5) + 32, where F is the temperature in Fahrenheit and C is the temperature in Celsius.

In [ ]:
def converter(c):
  f = [c * (9/5) + 32]
  return f

c = float(input("Enter the temperature in celsius : "))
converter(c)

Enter the temperature in celsius : 20

[68.0]

# **Sum odd Numbers** ➖

**In this activity, you will create a custom function in Python that takes a list of integers as an argument and returns the sum of all odd numbers in the list.**

In [ ]:
def sum_odd(a):
  sum = 0
  for i in a:
    if i%2 != 0:
      sum = sum + i
  print(f'sum of odd numbers in the list is : {sum}')


a = [1,2,3,4,5,6]

sum_odd(a)

sum of odd numbers in the list is : 9

# **Advanced Looping Concepts**

# **Lambda Functions**

🧑‍💻 You are working as a Python developer for a startup company that has just received a project from a client. The client wants a program that can perform certain operations on lists using lambda functions. Your manager has assigned you the task of finding the sum of squared odd numbers from the list.

👉 Hint: You have to use filter, map and reduce functions to get the task done

Instructions:

Begin by creating a list of numbers from 1 to 10.

Use a lambda function to filter out all even numbers from the list.

Use a lambda function to square all the remaining odd numbers in the filtered list.

Use a lambda function to find the sum of all the squared odd numbers in the list.

Print the final result.

In [ ]:
# usesd lambda function with fiter method

lst = list(range(1,11))
# print(lst)

sum_squared_odd = sum(map(lambda x: x**2, filter(lambda x: x % 2 != 0, lst)))

print(sum_squared_odd)

165

In [ ]:
# same code without using lambda function

sum = 0
lst = list(range(1,11))

for i in lst:
  if i % 2 != 0:
    square = i ** 2
    sum = sum + square
print(sum)

165

# **Pizza Toppings**

🍕🍔 You have two lists, one containing pizza toppings and the other containing burger toppings. You need to create a new list that contains all the toppings from both the pizza and burger toppings lists, but only if they have more than 5 characters in their name.

Can you write the code to create a new list that contains all the toppings from both the pizza and burger toppings lists, but only if they have more than 5 characters in their name using list comprehension only?

👉 Hint: You can use a conditional statement to check the length of each topping's name.

Instructions:

Create two lists of toppings, one for pizza and one for burgers.

Use list comprehension to iterate over both the pizza and burger toppings lists, and combine them into a new list.

Use a conditional statement to check the length of each topping's name, and only include it in the new list if it has more than 5 characters.

In [ ]:
# Here are the example lists of toppings
# without using list comprehension
pizza_toppings = ['mushroom', 'olive', 'tomato', 'pepperoni', 'onion', 'garlic']
burger_toppings = ['lettuce', 'cheese', 'mayonnaise', 'bacon', 'pickle', 'avocado']

new = []

for i in pizza_toppings:
  if len(i) > 5:
    new.append(i)

for j in burger_toppings:
  if len(j) > 5:
    new.append(j)

print(new)

['mushroom', 'tomato', 'pepperoni', 'garlic', 'lettuce', 'cheese', 'mayonnaise', 'pickle', 'avocado']